.products-wrapper {
    margin-bottom: 20px;
    .products-filter {
        display: flex;
        justify-content: space-between;

        .connections-select-info {
            display: flex;
            align-items: center;
            border: 1px solid #0088FF;
            padding: 5px 20px;
            border-radius: 4px;
            background-color: #fff;
            cursor: pointer;

            svg {
                margin-right: 7px;
            }

            .total-seleted {
                padding-left: 7px;
                border-left: 1px solid rgb(233, 236, 236);
            }
        }

        .products-action {
            .btn-quick-mapping {
                height: 36px;
                margin-right: 10px;
                border-radius: 4px;
                border: 1px solid #0088FF;
                color: #0088FF;
                background-color: #fff;
                padding: 0px 16px;
            }

            .btn-crawl-product {
                height: 36px;
                border-radius: 4px;
                border: 1px solid #0088FF;
                color: #fff;
                background-color: #0088FF;
                padding: 0px 16px;
            }
        }
    }

    .product-quick-filter {
        margin-top: 10px;
        background-color: #fff;
        padding: 10px 16px;

        .filter-tab {
            height: 30px;
            display: flex;
            align-items: center;

            span {
                cursor: pointer;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .active {
                border-bottom: 2px solid #0088FF;
                color: #0088FF;
            }
        }

        .filter-text {
            margin-top: 15px;

            input {
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #D3D5D7;
                border-radius: 6px;
                width: 100%;
                outline: none;
                padding-left: 16px;

                &::placeholder {
                    font-weight: 300;
                }
            }
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-color: #fff;
    }

    .empty-list{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        background-color: #fff;
    }


    .product-list {
        .product-header {
            padding: 12px;
            display: flex;

            .col-1 {
                width: 35%;
                padding-left: 80px;
            }

            .col-2 {
                text-align: center;
                width: 15%;
            }

            .col-3 {
                width: 35%;
            }

            .col-4 {
                text-align: center;
                width: 15%;
            }
        }
    }

    .product-body {
        .product-item {
            margin-bottom: 10px;
            .main-product {
                display: flex;
                align-items: center;
                padding: 10px 22px;
                background-color: #fff;

                .col-1 {
                    width: 35%;

                    .drill-icon {
                        cursor: pointer;
                    }

                    display: flex;
                    align-items: center;

                    .image-product {
                        margin-left: 55px;
                        margin-right: 10px;

                        img {
                            width: 70px;
                            height: 70px;
                            object-fit: cover;
                            border-radius: 4px;
                        }
                    }

                    .product-name {
                        color: #0088FF;
                        cursor: pointer;
                    }

                    .variant-info {
                        color: #747c87;
                    }
                }

                .col-2 {
                    text-align: center;
                    width: 15%;
                }

                .col-3 {
                    width: 35%;
                }

                .col-4 {
                    text-align: center;
                    width: 15%;
                }
            }
            .product-vatiant-list {
                border-top: 1px dashed #D3D5D7;
                .product-variant {
                    background-color: #fff;
                    .product-variant-info {
                        display: flex;
                        align-items: center;
                        padding: 10px 22px;
                        .col-1 {
                            width: 35%;
        
                            .drill-icon {
                                cursor: pointer;
                                margin-left: 20px;
                            }
        
                            display: flex;
                            align-items: center;
        
                            .image-product {
                                margin-left: 55px;
                                margin-right: 10px;
        
                                img {
                                    width: 70px;
                                    height: 70px;
                                    object-fit: cover;
                                    border-radius: 4px;
                                }
                            }
        
                            .product-name {
                                color: #0088FF;
                                cursor: pointer;
                            }

                            .sku {
                                color: #747c87;
                            }
                        }
        
                        .col-2 {
                            text-align: center;
                            width: 15%;
                        }
        
                        .col-3 {
                            width: 35%;
                            display: flex;
                            align-items: center;
                            .product-name {
                                color: #0088FF;
                                cursor: pointer;
                            }
                            .sku {
                                color: #747c87;
                            }
                            .image-product {
                                margin-right: 10px;
                                img {
                                    width: 70px;
                                    height: 70px;
                                    object-fit: cover;
                                    border-radius: 4px;
                                }
                            }
                        }
        
                        .col-4 {
                            width: 15%;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            svg {
                                margin-right: 15px;
                                cursor: pointer;
                                width: 20px;
                                color: #A3A8AF !important;
                            }
                        }
                    }
                    .product-mapping-wrapper {
                        padding: 10px;
                        padding-left: 100px;
                        margin-left: 10px;
                        margin-right: 10px;
                        background-color: #f5f9fd;
                        border-left: 2px solid #0088FF;
                        .un-mapping {
                            height: 160px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .mapping-product {
                            .mapping-header {
                                height: 40px;
                                display: flex;
                                align-items: center;
                                .c1 {
                                    width: 25%;
                                    font-weight: 500;
                                }
                                .c2 {
                                    width: 25%;
                                    font-weight: 500;
                                }
                                .c3 {
                                    width: 25%;
                                    font-weight: 500;
                                }
                                .c4 {
                                    width: 25%;
                                    font-weight: 500;
                                }
                            }
                            .tiktok-info {
                                display: flex;
                                align-items: center;
                                height: 60px;
                                .c1 {
                                    width: 25%;
                                    font-weight: 500;
                                }
                                .c2 {
                                    width: 25%;
                                }
                                .c3 {
                                    width: 25%;
                                }
                                .c4 {
                                    width: 25%;
                                }
                            }
                            .sw-info {
                                display: flex;
                                align-items: center;
                                height: 60px;
                                .c1 {
                                    width: 25%;
                                    font-weight: 500;
                                }
                                .c2 {
                                    width: 25%;
                                }
                                .c3 {
                                    width: 25%;
                                }
                                .c4 {
                                    width: 25%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}