.app {
    display: flex;
    overflow: hidden;
    font-size: 14px;
    .siderbar {
        color: #FFFFFF;
        width: 240px;
        height: 100vh;
        background-color: #182537;
        .app-name {
            color: #fff;
            padding: 11px;
            font-size: 28px;
            font-weight: 700;
            align-items: center;
            border-bottom: 1px solid #46515F;
        }

        .active-menu {
            background: #0088FF;
            &:hover {
                background-color: #0088FF !important;
            }
        }

        .menu-item {
            .menu-name {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                padding: 5px;
                margin: 0 5px;
                border-radius: 5px;
                cursor: pointer;
                svg {
                    width: 25px;
                    color: #A3A8AF;
                }
                .name {
                    display: flex;
                    align-items: center;
                    svg {
                        margin-right: 10px;
                    }
                }
                a {
                    text-decoration: none;
                    color: #fff;
                }
                &:hover {
                    background-color: #273241;
                }
            }
            .active {
                background: #0088FF;
                &:hover {
                    background-color: #0088FF;
                }
            }
            .sub-menus {
                .sub-menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                    margin: 0 5px;
                    padding: 5px 5px 5px 40px;
                    border-radius: 5px;
                    cursor: pointer;
                    svg {
                        width: 24px;
                    }
                    .name {
                        svg {
                            margin-right: 16px;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                    &:hover {
                        background-color: #273241;
                    }
                }
                .active {
                    background: #0088FF;
                    &:hover {
                        background-color: #0088FF;
                    }
                }
            }
        }
        .applications {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 5px;
            margin: 0 5px;
            cursor: pointer;
            font-weight: 700;
            color: #D3D5D7;
            padding-left: 10px;
            border-bottom: 1px solid #46515F;
        }
    }
    .body {
        .topbar {
            width: calc(100vi - 240px);
            height: 60px;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 10px;
            align-items: center;
            display: flex;
            padding-left: 24px;
            .parent-title {
                font-size: 20px;
                color: #747c87;
            }
            svg {
                margin-left: 20px;
                margin-right: 20px;
            }
            .current-title {
                font-size: 20px;
            }
        }
        .content {
            background-color: #F4F4F5;
            padding: 10px 24px 0px 24px;
            height: calc(100vh - 50px);
            overflow: auto;
        }
    }
}

.setting {
    background-color: #fff;
    padding-bottom: 10px;
    .action {
        padding: 10px;
        display: flex;
    }
    .connections {
        background-color: #F2F9FF;
        margin: 0px 10px;
        .connection-item-wrapper {
            margin: 10px 0px;
            .connection-item {
                background-color: #fff;
                border: 1px solid black;
                border-radius: 3px;
                display: flex;
                align-items: center;
                height: 60px;
                padding: 10px;
                box-shadow: 0 1px 2px #00000026, 0 1px 3px 1px #0000001a;
                border: 1px solid transparent;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .connection-info {
                    padding: 0px 10px;
                    .connection-name {
                        font-weight: 500;
                    }
                    .connection-shop-id {
                        color: #4d555d;
                        font-size: 12px;
                    }
                }
                svg {
                    height: 25px;
                    color: #0088FF !important;
                    cursor: pointer;
                }
            }
        }
    }
}